@import '~src/assets/scss/variables';

:host {
    display: block;
}

.character-list {
    display: flex;
    gap: 30px;
    flex-direction: column;

    .character-item {
        cursor: pointer;
        transition: 0.2s ease;
        padding: 20px 15px;
        background: rgba($link-color, 0.2);
        display: grid;
        grid-template-columns: 70px auto;
        column-gap: 40px;
        align-items: center;

        &:hover {
            background: rgba($link-color, 0.4);
        }

        &__img {
            grid-row: 1 / 3;
            color: $btn-color;
            text-align: center;
            font-size: 80px;
        }

        &__name {
            grid-column-start: 2;
            font-size: 32px;
            font-weight: 600;
            color: #20272e;
        }

        &__birth-year {
            grid-column-start: 2;
            line-height: 20px;
            font-weight: 400;
        }
    }
}
